 p{
        font-size: 22px;
        color: red;
    }
    
    #gruby_skierka{
        font-size: 17pt;
        font-weight: bold;
        color: green;
    }
    #dlaWszystkich_skierka {
        color: yellow;
        font-size: 10pt;
        font-family: Arial;
    }
    /* Maciej Skierka 23.04.2022 */
